@*<div class="dropZone @Class" @ondragover:preventDefault @ondrop="drop" @ondragover="dragOver" @ondragleave="@dragLeave" @ref="@_dropZone">*@
<div class="dropZone @Class">
	@if (_items != null && _items.Any())
	{
		@foreach (var item in _items)
		{
			<div class="col-6 bg-secondary">
				<DropItem Item="@item" OnDrop="drop" />
			</div>
		}
	}
</div>

@code{
	[Parameter]
	public string Class { get; set; }
	[Parameter]
	public IEnumerable<DraggableItem> Items { get; set; }
	[Parameter]
	public EventCallback DragOver { get; set; }
	[Parameter]
	public EventCallback DragLeave { get; set; }
	[Parameter]
	public EventCallback Drop { get; set; }

	private ElementReference _dropZone;
	private IEnumerable<DraggableItem> _items;

	protected override async Task OnInitializedAsync()
	{
		_items = Items;

		await base.OnInitializedAsync();
	}

	private void dragOver()
	{
		DragOver.InvokeAsync();
	}

	private void dragLeave()
	{
		DragLeave.InvokeAsync();
	}

	private void drop(DraggableItem tgt)
	{
		var meh = _items;

		Drop.InvokeAsync();
	}
}